version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: redis-afagh
    ports:
      - "6379:6379"
    networks:
      - redis-net

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    ports:
      - "8001:8001"  # RedisInsight UI
    networks:
      - redis-net
    depends_on:
      - redis

networks:
  redis-net:
    driver: bridge